body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.progress-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 60%;
    margin-bottom: 20px;
}

.circle {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    border: 3px solid lightgrey;
    color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    z-index: 1;
}

.circle.active {
    border-color: rgb(52,152,219);
    color: rgb(52,152,219);
}

.progress {
    position: absolute;
    top: calc(50% - 2px); /* Adjusted top position */
    left: 0;
    height: 4px;
    background-color: lightgray;
    width: 100%;
    z-index: 0;
    transform: translateY(-50%);
}

.progress-active {
    background-color: rgb(52,152,219);
    width: 0;
    height: 100%; /* Ensure the height is 100% of the progress element */
    transition: width 0.3s;
}

.buttons {
    display: flex;
    gap: 10px;
}

button {
    padding: 10px 30px;
    font-size: 14px;
    cursor: pointer;
    background-color: rgb(52,152,219);
    color: white;
    border: none;
    border-radius: 5px;
}

button:disabled {
    background-color: white;
    cursor: not-allowed;
}